:root {
    --color-main: #757575;
    --color-accent: #2196f3;
    --color-logo-studio: #000;
    --color-title: #212121;
    --color-invert: #fff;
    --color-hero: #c4c4c4;
    --color-button: #f5f4fa;
    --color-border: #eee;
    --color-border-header: #ececec;
    --color-active: #188ce8;
    --color-light: #afb1b8;
    --color-dark: #2f303a;
    --color-light-dark: rgba(255, 255, 255, 0.1);
  }