.features {

    &__list {
        @extend %list-flex;
        flex-wrap: wrap;

        @media (min-width: 1200px) {
            flex-wrap: nowrap;
        }
    }

    &__item {
        width: 100%;
        @media (min-width: 768px) {
            width: calc((100% - 30px) / 2);
          }
          
        @media (min-width: 1200px) {
            width: calc((100% - 30px) / 4);
            flex-wrap: nowrap;
        }
    }

    &__icon {
    padding: 25px 0;
    margin-bottom: 30px;
    text-align: center;
    background: var(--color-button);
    border-radius: 4px;
    }

    &__description {
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
    }

    &__title {
    @include visually-hidden; 
    }

    &__subtitle {
        @extend %subtitle;
              
        @media (max-width: 768px) {
            text-align: center;
        }
    }
}