.features {

    &__list {
        @extend %list-flex;
    }

    &__item {
    width: calc((100% - 30px) / 4);
    }

    &__icon {
    padding: 25px 0;
    margin-bottom: 30px;
    text-align: center;
    background: var(--color-button);
    border-radius: 4px;
    }

    &__description {
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
    }

    &__title {
    @include visually-hidden; 
    }

    &__subtitle {
        @extend %subtitle;
    }
}